{{ $openApi := getJSON "https://api.covalenthq.com/v1/openapiv2/?lang=en" }}
{{ $endpoint := .Get `endpoint` }}
{{ $link := .Get `link` }}


{{ range $openApi }}        
{{ $title := trim .title ` ` }}
    {{ if eq $endpoint $title }}
    <div class="pb-12 pt-8">
        <div class="bg-gray-100 max-w-5xl grid-cols-5 relative endpoint md:flex-col-reverse md:flex sm:flex-col-reverse sm:flex shadow-lg px-12 py-12">
            <div class="col-span-3 sm:order-last md:order-last">
                <div class="text-base lg:max-w-none">
                    <div class="mt-2 max-w-2xl text-4xl text-gray-900 sm:text-4xl md:text-2xl">
                        {{ $title }}
                    </div>
                    <div class="text-lg text-covalent-pink uppercase my-8 flex sm:mb-4 md:mb-4 sm:mt-4 md:mt-4 md:text-sm sm:text-sm">
                        {{ .classType }}
                    </div>
                    <div class="relative z-10 text-lg mx-auto lg:max-w-4xl lg:mx-0">
                        <div class="text-xl text-gray-800 mb-8">
                            {{ replace .description ":" "" | markdownify }}
                        </div>
                    </div>
                    <div class="sticky sm:relative md:relative top-4 ml-auto my-12">
                        <div class="bg-white p-10 shadow-md relative">
                            <div class="bg-white py-3 px-4 whitespace-nowrap overflow-scroll code w-full flex border text-lg font-mono place-items-center">
                                <div class="text-gray-600 mr-1 font-sans mt-1">GET </div> <div>{{ .path }}</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ $link }}" rel="noopener" target="_blank" href="">
                        <button class="btn btn-primary">
                           Try it live
                        </button>
                    </a>
                </div>
            </div>
        </div>  
    </div>
    {{ end }}
{{ end }}




