<div class="max-w-4xl grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 gap-8 mb-16">
    <div class="flex cursor-pointer " onclick="window.open(`https://discord.com/invite/fgZPpq69Dd`);">
        <div class="flex justify center fill-current text-black opacity-80 mr-6">
            <img class="w-24" src="/static/images/socials/discord.png"></img>
        </div>
        <div class="flex flex-col justify-center">
            <div class="font-bold">
                Discord
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
    <div class="flex cursor-pointer" onclick="window.open(`https://www.reddit.com/r/CovalentHQ/`);">
        <div class="flex justify center fill-current text-black opacity-80 mr-6">
            <img class="w-24" src="/static/images/socials/reddit.png"></img>
        </div>
        <div class="flex flex-col justify-center">
            <div class="font-bold">
                Reddit
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
    <div class="flex cursor-pointer" onclick="window.open(`https://t.me/CovalentHQ`);">
        <div class="flex justify center fill-current text-black opacity-80 mr-6">
            <img class="w-24" src="/static/images/socials/telegram.png"></img>
        </div>
        <div class="flex flex-col justify-center">
            <div class="font-bold">
                Telegram
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
    <div class="flex cursor-pointer" onclick="window.open(`https://twitter.com/covalent_hq`);">
        <div class="flex justify center fill-current text-black opacity-80 mr-6">
            <img class="w-24" src="/static/images/socials/twitter.png"></img>
        </div>
        <div class="flex flex-col justify-center">
            <div  class="font-bold">
                Twitter
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
</div>