<div class="max-w-4xl grid grid-cols-2 gap-6 mb-16">
    <div class="flex cursor-pointer">
        <div>
          
        </div>
        <div>
            <div class="font-bold">
                Discord
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
    <div class="flex cursor-pointer">
        <div>
          
        </div>
        <div>
            <div class="font-bold">
                Youtube
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
    <div class="flex cursor-pointer">
        <div>
          
        </div>
        <div>
            <div class="font-bold">
                Twitter
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
    <div class="flex cursor-pointer">
        <div>
          
        </div>
        <div>
            <div class="font-bold">
                Reddit
            </div>
            <div class="text-gray-600">
               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            </div>
        </div>
    </div>
</div>