<p>The Covalent API supports a broad range of Web3 data use cases including:</p>

<table>
    <tbody>
        <tr>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/gaming.png" alt="Gaming"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/defi.png" alt="DeFi"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/kyc.png" alt="KYC"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/nft_icon.png" alt="NFT"></td>
        </tr>
        <tr>
            <td style="">Gaming</td>
            <td style="">DeFi Taxes</td>
            <td style="">KYC</td>
            <td style="">NFTs</td>
        </tr>
        <tr>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/wallets.png" alt="Wallets"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/dashboards.png" alt="Dashboards"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/forensics.png" alt="On-Chain Forensics"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/dao.png" alt="DAO"></td>
        </tr>
        <tr>
            <td style="">Wallets</td>
            <td style="">Dashboards</td>
            <td style="">On-Chain Forensics</td>
            <td style="">DAO Data</td>
        </tr>
        <tr>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/trading.png" alt="Trading"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/predictions.png" alt="Predictions"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/governance.png" alt="Governance"></td>
            <td style=""><img src="https://www.covalenthq.com/static/images/partner-docs/pricing.png" alt="Pricing"></td>
        </tr>
        <tr>
            <td style="">DEXs &amp; Trading</td>
            <td style="">Predictive Analytics</td>
            <td style="">Governance</td>
            <td style="">Pricing</td>
        </tr>
    </tbody>
</table>

<p>Check out our collection of ready-to-ship <a href='https://github.com/covalenthq/web3-resources?utm_source={{ .Get "blockchain" }}&utm_medium=partner-docs' target="_blank"><strong>Code Templates</strong></a> that you can use to build your Web3 data-powered dApps.</p>
