/* Docs Main CSS file */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
* {
    font-family: 'Titillium Web', sans-serif;
}

code,
.topics code,
.topics pre {
    font-family: 'Roboto Mono', monospace;
      -ms-overflow-style: none;
      scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
code::-webkit-scrollbar,
.topics code::-webkit-scrollbar,
.topics pre::-webkit-scrollbar {
    display: none;
}



body {
    overflow: overlay;
}
/* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        display: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #FF4C8B;
        height: 30px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #FF4C8B;
    }

    ::-webkit-scrollbar-track-piece {
        display: none;
    }


.DocsSidebar--header-section{
    margin-top: 3em !important;
}

.DocsSidebar--nav{
    margin-top: 1em !important;
}

.DocsMarkdown h1{
    margin-bottom: 1em !important;
    font-weight: 200 !important;
}

.DocsMarkdown h1 {
    font-weight: 300 !important;
}

.DocsMarkdown--link-content{
    color: #FF4C8B !important;
    font-weight: 300 !important;
}

.Button.Button-is-docs-primary .DocsMarkdown--link-content{
    color: white !important;
}
.DocsSidebar--nav-link-text .DocsSidebar--nav-link-text {
    font-size: 18px;
}

.DocsSidebar--nav-subnav {
    font-size: 16px !important;
}

.DocsBody--sidebar{
    margin-top: 2.1em !important;
}

th {
    font-weight: 600 !important;
    padding: .66em 1em !important;
}

[theme=dark] svg {
    color: white !important;
}

[theme=dark] .DocsSidebar--nav-link-text {
    color: white !important;
}

.DocsSidebar--nav-link-text:focus {
    outline: none !important;
}

.DocsMarkdown--link-content {
    border-bottom: 1px solid #FF4C8B !important;
}

[theme=dark] .DocsSidebar--nav-link[is-active] .DocsSidebar--nav-link-text:before{
    background: #FF4C8B !important;
}

.DocsSidebar--nav-expand-collapse-button-content {
     font-size: 12px !important;
}

[theme=dark] .DocsSidebar--nav-expand-collapse-button-content {
    color: white !important;
}

.DocsSidebar--nav-expand-collapse-button{
    top: -5px !important;
}

.DocsMobileTitleHeader--logo-link.Link.Link-without-underline {
    display: none !important;
}

.DocsSidebar--nav-link[is-active]:before {
    background: #FF4C8B !important;
}

.DocsSidebar--nav-link[is-active]:hover:before {
    background: #FF4C8B !important;
}

.DocsSidebar--shadow {
    display: none;
}

.DocsMobileTitleHeader {
    z-index: 99 !important;
    margin-top: -3em !important;
    background: none !important;
}

.DocsMobileHeader--cloudflare-logo-link.Link.Link-without-underline .DocsNavLogoLockup--logo {
    padding: 0.5em !important;
}

.DocsNavLogoLockup--text {
    font-size: var(--font-size, 1em);
    font-weight: 700;
    line-height: 1;
    padding-top: 0.2em !important;
    letter-spacing: 0.06em !important;
    text-transform: uppercase !important;
}

.DocsSidebar--nav-link .DocsSidebar--nav-link-text:hover::after {
    background: none !important;
}

.DocsTableOfContents-link:hover {
    color: #FF4C8B !important;
}

[theme=dark] .DocsMarkdown--link:hover {
    background: #ff4c8b24 !important;
}

.Button.Button-is-docs-primary {
    --focus-box-shadow: none;
}

.Button.DocsSidebar--nav-expand-collapse-button:hover {
    background: none !important;
}

.DocsMarkdown--aside .Button.Button-is-docs-primary {
    background: #FF4C8B !important;
}

[theme=dark] .CodeBlock {
    background: rgb(15 15 15) !important;
}

.CodeBlock--token-number, .CodeBlock--token-boolean, .CodeBlock--token-null {
    color: #FF4C8B !important;
}

.CodeBlock--token-string, .CodeBlock--token-operator {
    color: #FF4C8B !important;
}

.CodeBlock.CodeBlock-with-rows.CodeBlock-scrolls-horizontally{
    height: 125px;
    overflow: hidden;
    transition: 0.6s;
    max-height: fit-content;
    border: 1px solid rgba(196, 196, 196, 0);
    font-family: 'Roboto Mono',
    monospace;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.CodeBlock.CodeBlock-with-rows.CodeBlock-scrolls-horizontally:hover {
    height: 500px;
    transition: 0.6s;
    overflow: scroll;
    border: 1px solid rgb(196, 196, 196);
}

.DocsMarkdown--link .DocsMarkdown--link-content {
    background-color: transparent !important;
}

@media (hover: hover) {
    [theme=dark] .DocsSidebar--nav-link:hover .DocsSidebar--nav-link-text:before {
        background: #e4e4e435 !important;
    }
}

html {
    --selection-background-color: #FF4C8B !important;
}

[theme=dark] .DocsPage .Link {
    color: white;
}

.DocsPage .Link {
    text-decoration: none;
    --underline-size: none;
}

.DocsPage .Link:hover {
    color: #FF4C8B;
    text-decoration-color: #FF4C8B;
}

[theme=dark] .DocsPage .Button-is-docs-primary {
    color: white !important;
}

.topics input {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    padding-top: 0.6rem;
    margin-bottom: 1.9rem;
    border: 1px solid #1d1f2033;
    width: 10rem;
    font-size: 14px;
}

.topics select {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    padding-top: 0.6rem;
    margin-bottom: 1.9rem;
    border: 0px solid #1d1f2033;
    width: 10rem;
    font-size: 14px;
}

[theme=dark] .DocsBody {
    background: black;
}

[theme=dark] .DocsSidebar:before {
    background: #0f0f0f !important;
}

[theme=dark] .DocsFooter{
    background: #0f0f0f;
    border: none;
}

[theme=dark] .DocsSidebar--nav-section-shadow {
    border-top: none;
}

[theme=dark] #gatsby-focus-wrapper {
    background: #0f0f0f;
}

.DocsMarkdown h1,
.DocsMarkdown h2,
.DocsMarkdown h3,
.DocsMarkdown h4,
.DocsMarkdown h5,
.DocsMarkdown h6,
p.DocsMarkdown--small-header {
    font-weight: 300 !important;
}

.DocsMarkdown--table-wrap tr>:first-child {
    background: none !important;
    box-shadow: none !important;
}

[theme=dark] .DocsMarkdown--aside[data-type=note] {
    border-left-color: #FF4C8B !important;
}

.Button-is-docs-primary {
    background: transparent !important;
    border: 1px solid black !important;
}

[theme=dark] .Button-is-docs-primary {
    background: black !important;
}

.DocsBody--sidebar-content-scroll-fade {
    background: none !important;
}

.DocsSidebar--nav-item+.DocsSidebar--nav-item {
    margin-right: 1rem;
}

.InlineCode {
    font-family: 'Roboto Mono', monospace !important;
    border-radius: 0px !important;
    border: 1px solid #a9a9a91c !important;
}