
{{ $LinkTitle := .context.Page.LinkTitle }}
{{ $type := .type }}
{{ $Title := .title }}

<script>
function expand (type, className){
    var element; 
    var imgElement;
    if(type === "parent"){
      element = document.querySelector(`#expand-${className}`)
      imgElement = document.getElementById(`img-${className}`)
    }else{
      element = document.querySelector(`#expand-child-${className}`)
      imgElement = document.getElementById(`img-${className}`)
    }
    imgElement.src = "/static/images/icons/minus.svg"
    
    if(element.style.display === "hidden"){
      element.style.display = "block"
      imgElement.src = "/static/images/icons/minus.svg"
    }else if(element.style.display === "block"){
      element.style.display = "none"
      imgElement.src = "/static/images/icons/Add.svg"
    }else{
      element.style.display = "block"
    }
  }
</script>


<div class="flex justify-between items-center mb-2 cursor-pointer " onclick="expand('parent', '{{ $type }}')" >
    <div class="text-white text-lg tracking-wide relative font-sans cursor-pointer hover:text-covalent-pink transition-all">
      {{ $Title }}
    </div>
    <div class="flex justify-center h-4 w-4">
      <img id="img-{{ .type }}" src="/static/images/icons/Add.svg"></img>
    </div>
</div>
<div id="expand-{{ .type }}" class="hidden">
    {{ range .arr }}
    {{ $parentTitle := replaceRE "(\\s)" "" .title }}
    {{ if eq .title $LinkTitle }} 
        <script>
          expand('parent', '{{ $type }}')
          expand('child','{{ $parentTitle }}')
        </script>
    {{ end }}
    {{ if eq .published true }}
        <div class="flex justify-between items-center">
          <div class="{{ if eq .title $LinkTitle }} text-covalent-pink {{ else }} text-white {{ end }} text-md truncate pl-5 mb-2 cursor-pointer hover:text-covalent-pink transition-all">
            <a href="{{ .link }}">{{ .title }}</a>
          </div>
          <div class="flex justify-center h-3 w-3 cursor-pointer">
            {{ if .subsection }}
            <img id="img-{{ $parentTitle }}" onclick="expand('child','{{ $parentTitle }}')" src="/static/images/icons/Add.svg"></img>
            {{ end }}
          </div>
        </div>
        <div id="expand-child-{{ $parentTitle }}" class="-mt-2 hidden">
            {{ range .subsection }}
                {{ if eq .title $LinkTitle }} 
                    <script>
                        expand('parent', '{{ $type }}')
                        expand('child','{{ $parentTitle }}')
                    </script>
                {{ end }}
                {{ if eq .published true }}
                    <div class="{{ if eq .title $LinkTitle }} text-covalent-pink {{ else }} text-white {{ end }} text-sm truncate pl-8 my-2 mb-3 ml-4 text-xs opacity-80 cursor-pointer hover:text-covalent-pink transition-all"> 
                        <a href="{{ .link }}">{{ .title }}</a>
                    </div>
                    {{ range .subsection }}
                        {{ if eq .title $LinkTitle }} 
                            <script>
                                expand('parent', '{{ $type }}')
                                expand('child','{{ $parentTitle }}')
                            </script>
                        {{ end }}
                        {{ if eq .published true }}
                            <div class="{{ if eq .title $LinkTitle }} text-covalent-pink {{ else }} text-white {{ end }} text-sm truncate pl-12 my-2 mb-3 ml-4 text-xs opacity-80 cursor-pointer hover:text-covalent-pink transition-all">
                                <a href="{{ .link }}">{{ .title }}</a>
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
      {{ end }}
    {{ end }}
</div>
  <hr class="mb-3 border-covalent-purple-dark" />


